In [1]:
import pandas as pd

In [2]:
cols = ['arr_port', 'pax']
bookings_df = pd.read_csv('./bookings.csv', sep='^', usecols=cols)

In [3]:
bookings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000010 entries, 0 to 10000009
Data columns (total 2 columns):
arr_port    object
pax         float64
dtypes: float64(1), object(1)
memory usage: 152.6+ MB

In [4]:
bookings_sorted = bookings_df.groupby('arr_port').sum().sort_values(by='pax', ascending=False)[:10]
bookings_sorted

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

In [5]:
import json
import requests
def get_airport_name(code):
    url = 'http://ws.geonames.org/searchJSON?name_equals=' + code + '&fcode=AIRP&maxRows=1&username=demo'
    result = requests.get(url)
    return result.json()['geonames'][0]['toponymName']
    
get_airport_name('LHR')

'London Heathrow Airport'

In [6]:
bookings_sorted['airport_name'] = bookings_sorted.index.map(get_airport_name)

In [7]:
bookings_sorted

              pax                           airport_name
arr_port
LHR       88809.0                London Heathrow Airport
MCO       70930.0          Orlando International Airport
LAX       70530.0      Los Angeles International Airport
LAS       69630.0         McCarran International Airport
JFK       66270.0  John F. Kennedy International Airport
CDG       64490.0        Paris Charles de Gaulle Airport
BKK       59460.0                   Suvarnabhumi Airport
MIA       58150.0            Miami International Airport
SFO       58000.0    San Francisco International Airport
DXB       55590.0            Dubai International Airport